*, *:before, *:after{
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

#wrap{
    width: 1200px;
    margin: 0 auto;
    
}

#header{
    width:100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}
#header img{
    position: relative;
    bottom: 200px;
    vertical-align: middle;
    width: 100%;
}
.main{
    margin-top: 30px;
}
#section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    
}
.center{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}
.center div{
    height: 245px;
    background: blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 30px;
}
.image_list{
    width: 200px;
    height: 800px;
    border-radius: 20px;
}

.image_last{
    width: 200px;
    height: 190px;
    border-radius: 20px;
    
}
.text_box ul{
    margin-left: 20px;
    line-height: 30px;
    color: #fff;
    line-height: -30px;
    
}
.text_box h2{
    position: relative;
    right: 30px;
    font-size: 28px;
    font-weight: 30;
    padding-bottom: 60px;
    
    
}
.text_box li{
    padding-bottom: 10px;
    font-size: 25px;
    line-height: -30px;
}
#footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 1200px;
    height: 800px;
    
}
.f_left{
    background: url(../image/sanderling.jpg);
    width: 460px;
    height: 250px;
    border-radius: 20px;
    
}

.f_left p:nth-child(1){
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    left: 30px;
}

.f_left p:nth-child(2){
    font-size: 23px;
    font-weight: 800;
    position: relative;
    left: 30px;
}
.f_left p:nth-child(3){
    font-size: 40px;
    font-weight: 800;
    position: relative;
    left: 30px;
}
.f_left p:nth-child(4){
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    left: 30px;
}
.f_left p:nth-child(5){
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-top: 5px;
}
.f_left p:nth-child(6){
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-top: 5px;
}
.f_left p:nth-child(7){
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    left: 30px;
}

.f_center{
    background: url(../image/shrubby-daisybush.jpg);
    width: 400px;
    height: 250px;
    border-radius: 20px;
}
.f_center p:nth-child(1){
    font-size: 20px;
    position: relative;
    left: 30px;
    margin-top: 30px;
}
.f_center p:nth-child(2){
    font-size: 28px;
    font-weight: 800;
    position: relative;
    left: 30px;
    
}
.f_center p:nth-child(3){
    font-size: 28px;
    font-weight: 800;
    position: relative;
    left: 30px;
    
}
.f_center p:nth-child(4){
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-top: 10px;
    
}
.f_center p:nth-child(5){
    font-size: 15px;
    position: relative;
    left: 86px;
    margin-top: 5px;

}
.f_center p:nth-child(6){
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-top: 5px;
}
.f_center p:nth-child(7){
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-top: 5px;
}

.f_right{
    background: url(../image/superb.jpg);
    width: 270px;
    height: 250px;
    border-radius: 20px;
}
.f_right p:nth-child(1){
    font-size: 25px;
    position: relative;
    left: 30px;
    margin-top: 30px;
    font-weight: 800;
}
.f_right p:nth-child(2){
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-top: 10px;
    
}