

:root{
    --bs-green:#27a776;
    --bs-gray:rgb(199, 193, 193);
}
/* 변수 이름은 bs-green이고 앞에 --를 붙여줘야함 
    bs와 green 사이에 - 은 빼도 상관없음 */

*{
    /*font-size: var(--title-size);*/
    padding: 0;
    margin: 0;
    color: #fff;
    background: #000;
}

#wrap{
    margin: 0 auto;
    width: 1680px;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 380px 2600px 100px;
}
ul{ list-style-type: none;}
#nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    align-items: center;
    position: sticky; 
    top:0;
    z-index: 10;
}
.webtitle{
    font-size: 30px;
}
.webtitle i{ color: var(--bs-green); }

.menu ul{ 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sns{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}
.sns i::before{color: var(--bs-gray);}

/* 수직은 align
   수평은 justify */

#main_text{
    margin-top: 50px;
    display: grid;
    justify-content: center;
    height: 250px;
    grid-template-rows: auto;
}
#main_text h2{
    font-size: 40px;
}
#main_text p{
    justify-self: center;
}
#main_text a{
    justify-self: center;
    background: var(--bs-green);
    align-self: center;
    padding: 10px 30px;
    border-radius: 5px;
}
#section{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 300px);
    gap: 20px;
}
.picture{
    border-radius: 5px;
    overflow: hidden;
}

.picture:nth-child(1){
    background: url(../image/pic1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.picture:nth-child(2){
    background: url(../image/pic2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(3){
    background: url(../image/pic3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(4){
    background: url(../image/pic4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(5){
    background: url(../image/pic5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}
.picture:nth-child(6){
    background: url(../image/pic6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(7){
    background: url(../image/pic7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(8){
    background: url(../image/pic8.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(9){
    background: url(../image/pic9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 5 / 7;
    grid-column: 1 / 4;
}
.picture:nth-child(10){
    background: url(../image/pic10.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(11){
    background: url(../image/pic11.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(12){
    background: url(../image/pic12.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(13){
    background: url(../image/pic13.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 7 / 10;
    grid-column: 3 / 5;
}
.picture:nth-child(14){
    background: url(../image/pic14.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(15){
    background: url(../image/pic15.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture:nth-child(16){
    background: url(../image/pic16.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

